.border1 {
  border: 1px solid red;
}
.why-choose-us-section h2 {
  transition-delay: 0.2s;
  transition: opacity 0.4s ease;
  transition-property: opacity, transform;
  font-weight: 600;
  line-height: 1.125;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.points-cards .cards-content h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.125;
  font-style: normal;
}
.points-cards .cards-content p {
  font-weight: 400;
  line-height: 1.5;
  font-family: Montserrat, sans-serif;
}
.points-cards .icon svg {
  width: 3rem;
  height: 2.5rem;
}
.points-cards .icon svg path {
  fill: red;
}

.catagory-section .catagory-header h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.125;
  font-style: normal;
}

.category-hover {
  height: 18%;
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out,
    align-items 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}
.category-box:hover .category-hover {
  transition: 0.4s ease-in-out;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(60, 7, 69, 0.6) !important;
}
.category-hover h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.125;
  font-style: normal;
}

.main-theme h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 1.125;
  font-style: normal;
}
.landing-hero-banner {
  /* background: url('../../featured/image/bg-img.png'); */
  background-position: right 3rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.category-cards:not(:first-child) {
  padding: 1.25rem;
  position: relative;
}
.category-cards:nth-child(1),
.category-cards:nth-child(2),
.category-cards:nth-child(4),
.category-cards:nth-child(5) {
  border-right: 1.5px solid rgb(217, 217, 217);
}

.category-cards:nth-child(-n + 3) {
  border-bottom: 1.5px solid rgb(217, 217, 217);
}
.link-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-wrapper span {
  position: absolute;
  background: #c6866b;
  left: 0;
  bottom: 2rem;
  border-radius: 0px 50px 50px 0px;
}
.hover-img {
  transition: all 0.3s ease;
}
.hover-img:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 768px) {
  .category-cards:nth-child(1),
  .category-cards:nth-child(3),
  .category-cards:nth-child(5) {
    border-right: 1.5px solid rgb(217, 217, 217);
  }
  .category-cards:nth-child(2),
  .category-cards:nth-child(4) {
    border-right: none;
    border-bottom: 1px solid rgb(217, 217, 217);
  }
}
@media screen and (max-width:640px){
  .category-cards:nth-child(1),
  .category-cards:nth-child(2),
  .category-cards:nth-child(3),
  .category-cards:nth-child(4),
  .category-cards:nth-child(5),
  .category-cards:nth-child(6){
    border: none;
  }
  .category-cards:not(:first-child){
    padding: 0;
  }
}
