.header-box h1 {
  color: red;
  font-weight: 700;
  text-align: center;
}
.name-box h1 {
  color: #fff;
  font-weight: 800;
}
.gender-div a {
  font-weight: 800;
}
.header-box h1 {
  background: -webkit-linear-gradient(
    124deg,
    rgba(4, 11, 83, 1) 0%,
    rgba(60, 7, 69, 1) 0%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
svg path {
  background-color: rgb(4, 11, 83);
}
aside{
  transform: translateX(0) !important;
}

