@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");
/* *{
  outline: 1px solid red;
} */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700 !important;
  line-height: 137.5%;
  letter-spacing: 0%;
}
h6 {
  font-family: "Commissioner", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
p,
.p {
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  line-height: 2.25rem;
  letter-spacing: 0%;
  text-align: left;
}
.viedeo-text {
  font-family: "Syne", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 000;
  font-style: normal;
}
.cart-text {
  font-family: "Mulish", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
}
.button {
  border: 1px solid #000;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.button_primary{
  padding: 1rem 2rem;
  color: #C6866B;
  border:1px solid #C6866B;
  border-radius: 45px;
  max-width: 13.5rem;
  max-height: 4rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.button_primary p{
  margin-right: 1.25rem;
}
.button_primary .button-inner{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.button_primary .button-inner span, span:first-child{
  display: flex;
  align-items: center;
  transform: translateY(23px);
}
.button_primary:hover .button-inner span:last-child{
  transform: translateY(-27px);
}
.button_primary:hover .button-inner span:first-child{
  transform: translateY(-30px);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
